$orange: rgba(229, 103, 68, 1)
$black : rgba(68, 68, 68, 1)


body, *
  font-size: 10px
  font-family: Lato
  color: $black

@import "font"
@import "aside"
@import "main"

.main_wrapper
  width: 100%
  height: auto
  display: block
.page_wrapper
  width: 80%
  margin-left: 20%
  height: auto
  display: block
.aside
  width: 20%