body, html, * {
  font-size: 10px;
  font-family: Lato;
  color: #444444; }
  @media screen and (max-width: 1680px) {
    body, html, * {
      font-size: 8px; } }
  @media screen and (max-width: 1200px) {
    body, html, * {
      font-size: 6px; } }

@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
.aside {
  display: block;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fafafa; }
  .aside_logo {
    display: block;
    width: 40%;
    height: auto;
    margin: 20px auto 20px; }
    .aside_logo img {
      width: 100%;
      max-width: 150px;
      transition: transform 350ms ease-in-out; }
      .aside_logo img:hover {
        transform: scale(1.1); }
    .aside_logo_text {
      padding-left: 45px;
      display: block;
      max-width: 450px;
      padding-right: 20px;
      font-size: 1.6rem;
      font-weight: bold;
      margin: 0 auto; }
      .aside_logo_text i {
        color: #e56744; }
  .aside_phone {
    font-size: 2.2rem;
    color: #e56744;
    width: 100%;
    padding-left: 15%;
    padding-bottom: 10%;
    margin: 20px auto 0 auto; }
    .aside_phone p {
      color: inherit; }
  .aside_menu {
    display: block;
    padding-left: 15%;
    height: 50%;
    position: relative; }
    .aside_menu:before {
      content: "";
      display: block;
      position: absolute;
      width: 12%;
      height: 1px;
      background-color: #e56744;
      top: -8px;
      right: 44%;
      margin: 0 auto; }
    .aside_menu:after {
      content: "";
      display: block;
      position: absolute;
      width: 12%;
      height: 1px;
      background-color: #e56744;
      bottom: -8px;
      right: 44%;
      margin: 0 auto; }
    .aside_menu ul {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-around; }
      .aside_menu ul li {
        width: 100%; }
      .aside_menu ul li a {
        display: inline-block;
        position: relative;
        width: 90%;
        font-size: 1.6rem;
        color: #444444;
        transition: transform 350ms ease-in-out; }
        .aside_menu ul li a:before {
          content: "";
          display: block;
          position: absolute;
          width: 0;
          height: 1px;
          background-color: #e56744;
          left: 0;
          bottom: 0;
          transition: width 700ms ease-in-out; }
        .aside_menu ul li a:after {
          content: url("../img/r_menu_arrow.svg");
          display: block;
          position: absolute;
          width: 10px;
          height: auto;
          right: -12px;
          bottom: calc(50% - 8px);
          transition: width 700ms ease-in-out; }
        .aside_menu ul li a:hover {
          text-decoration: none;
          transform: scale(1.1); }
          .aside_menu ul li a:hover:before {
            width: 100%; }
  .aside_networks {
    padding-left: 15%;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 10%; }
    .aside_networks li {
      margin-bottom: 8px; }
      .aside_networks li a {
        font-size: 1.2rem;
        line-height: 1.2rem;
        height: 1.2rem;
        color: #acacac;
        vertical-align: baseline;
        display: inline-block; }
        .aside_networks li a:hover {
          color: black; }
        .aside_networks li a img {
          height: 100%;
          margin-right: 5px; }

.main {
  width: 100%;
  height: 100vh; }
  .main_slider {
    height: 100vh;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    overflow: hidden; }
  .main_slide {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1 0 40px;
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;
    cursor: pointer;
    -webkit-transition: all 1200ms ease-in-out;
    -moz-transition: all 1200ms ease-in-out;
    -ms-transition: all 1200ms ease-in-out;
    -o-transition: all 1200ms ease-in-out;
    transition: all 1200ms ease-in-out;
    box-shadow: 10px 0px 5px 0px rgba(229, 103, 68, 0.1); }
    .main_slide_wrapper {
      min-width: 70vw;
      width: 100%;
      display: block;
      height: 100%;
      position: relative;
      font-size: 0; }
    .main_slide_content {
      display: inline-flex;
      flex-direction: column;
      width: 50%;
      min-width: 35vw;
      float: left;
      height: 100%;
      justify-content: center;
      padding: 0 60px; }
    .main_slide_header {
      width: 300px;
      white-space: nowrap;
      display: inline-block;
      text-shadow: 0px 0px 10px white;
      font-size: 1.8rem;
      line-height: 1.8rem;
      font-weight: bold;
      z-index: 2;
      transform: rotate(90deg);
      position: relative;
      top: 25vh;
      left: -175px;
      transition: all 900ms ease-in; }
      .main_slide_header:after {
        content: "";
        display: block;
        position: absolute;
        left: 130%;
        top: 50%;
        width: 0;
        background-color: #e56744;
        height: 5px;
        z-index: -1;
        border-radius: 5px;
        transition: all 900ms 900ms ease-in-out; }
    .main_slide_text {
      margin: 5vh 0;
      font-size: 2.2rem;
      opacity: 0;
      transition: opacity 500ms ease-in-out; }
    .main_slide_btn {
      background-color: #e56744;
      color: white;
      display: inline-block;
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 300;
      border-radius: 10px;
      width: 18vw;
      opacity: 0;
      transition: transform 350ms ease-in-out, font-weight 250ms ease-in-out, opacity 500ms ease-in-out; }
      .main_slide_btn:hover {
        transform: scale(1.03);
        font-weight: normal; }
    .main_slide_nav {
      position: absolute;
      display: inline-block;
      bottom: 5vh;
      left: 20px;
      width: 50%;
      height: 40px;
      padding-left: 20px;
      line-height: 40px;
      opacity: 0;
      transition: opacity 500ms ease-in-out; }
      .main_slide_nav img {
        height: 100%;
        width: auto;
        transition: transform 350ms ease-in-out; }
        .main_slide_nav img:hover {
          transform: scale(1.1); }
    .main_slide_left_arrow {
      display: inline-block; }
    .main_slide_right_arrow {
      display: inline-block; }
    .main_slide_count {
      color: #444444;
      display: inline-block;
      margin: 0 5vw;
      line-height: 40px;
      vertical-align: middle;
      font-size: 1.6rem; }
      .main_slide_count span {
        font-weight: bold;
        font-size: 2.4rem; }
    .main_slide_active {
      -webkit-flex-grow: 4;
      flex-grow: 4;
      flex-basis: 80%; }
      .main_slide_active .main_slide_header {
        width: 35vw;
        font-size: 8rem;
        line-height: 8rem;
        text-transform: none;
        transform: rotate(0deg);
        position: relative;
        top: 0;
        left: 0;
        text-align: left; }
        .main_slide_active .main_slide_header:after {
          width: 12vw;
          transition: all 900ms 900ms ease-in-out; }
      .main_slide_active .main_slide_text {
        opacity: 1; }
      .main_slide_active .main_slide_btn {
        opacity: 1; }
      .main_slide_active .main_slide_nav {
        opacity: 1; }
    .main_slide_img {
      display: inline-block;
      width: 50%;
      height: 100%;
      overflow: hidden;
      float: right;
      position: relative; }
      .main_slide_img_viewer {
        width: 200%;
        height: 200%;
        position: absolute;
        left: -50%;
        top: -50%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        perspective: 60px; }
      .main_slide_img img {
        width: 55%;
        height: auto;
        transition: all 350ms ease-in-out; }
        .main_slide_img img:hover {
          transform: rotateY(1deg);
          transition: all 350ms ease-in-out; }
      .main_slide_img .rotate_img {
        transform: rotateY(180deg);
        transition: all 350ms ease-in-out; }
        .main_slide_img .rotate_img:hover {
          transform: rotateY(181deg);
          transition: all 350ms ease-in-out; }
  .main_call {
    position: absolute;
    top: 40px;
    left: calc(50% - 6vw);
    z-index: 2;
    width: 50%;
    text-align: right; }
    .main_call_text {
      text-align: right;
      color: white;
      font-size: 1.8rem;
      text-shadow: 0px 0px 20px #444444;
      margin-bottom: 20px; }
    .main_call_lang {
      display: inline-block;
      padding-right: 3vw; }
      .main_call_lang li {
        display: inline-block;
        color: white;
        font-size: 2.2rem;
        text-shadow: 0px 0px 20px #444444; }
        .main_call_lang li a {
          color: white;
          font-size: 1.8rem;
          text-shadow: 0px 0px 20px #444444; }
        .main_call_lang li .active_lang {
          font-size: 2.2rem; }
    .main_call_btn {
      background-color: #e56744;
      color: white;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 300;
      border-radius: 10px;
      width: 14vw;
      transition: transform 350ms ease-in-out, font-weight 150ms ease-in-out; }
      .main_call_btn:hover {
        transform: scale(1.03);
        font-weight: normal; }

.main_about {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: auto;
  padding: 10rem 3rem 2rem 3rem; }
  .main_about_options {
    width: 100%; }
    .main_about_options ul {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-between; }
    .main_about_options_btn {
      display: block;
      position: relative;
      width: 250px;
      height: 60px;
      line-height: 56px;
      background-color: white;
      border: 2px solid #e56744;
      border-radius: 10px;
      font-size: 1.8rem;
      text-align: center;
      color: #444444;
      box-sizing: border-box;
      margin: 30px auto 0;
      text-decoration: none;
      transition: all 350ms;
      text-transform: uppercase; }
      .main_about_options_btn:hover {
        background-color: #e56744;
        text-decoration: none;
        color: white;
        transform: scale(1.05); }
        .main_about_options_btn:hover p {
          color: white;
          text-transform: uppercase; }
  .main_about_option {
    display: block;
    width: 12%;
    height: auto; }
    .main_about_option a {
      display: block;
      width: 100%;
      height: auto;
      text-decoration: none;
      text-align: center; }
      .main_about_option a img {
        display: inline-block;
        height: 10.5rem;
        transition: transform 350ms ease-in-out; }
    .main_about_option:hover img {
      transform: scale(1.1); }
    .main_about_option_text {
      display: block;
      width: 100%;
      position: relative;
      font-size: 1.8rem;
      color: #444444;
      padding-top: 35px; }
      .main_about_option_text:before {
        content: "";
        position: absolute;
        display: block;
        top: 22px;
        left: 0;
        right: 0;
        width: 30%;
        height: 1px;
        background-color: #e56744;
        margin: 0 auto; }
      .main_about_option_text u {
        color: #e56744;
        text-decoration: none; }
  .main_about_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    height: auto;
    width: 100%;
    padding-top: 10rem; }
  .main_about_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    flex: 1 1 auto;
    padding-right: 3rem; }
  .main_about_videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    flex: 1 1 auto;
    justify-content: space-between;
    align-content: space-between; }
  .main_about_video {
    width: calc(50% - 1.5rem);
    height: calc(50% - 1.2rem);
    padding-top: 5rem; }
    .main_about_video_frame {
      width: 100%;
      height: calc(100% - 3.2rem); }
    .main_about_video_text {
      width: 100%;
      font-size: 1.4rem;
      line-height: 3.2rem;
      color: #444444;
      padding-top: 0.5rem; }
  .main_about_header {
    width: 100%;
    font-size: 8rem;
    line-height: 10rem;
    color: #e56744;
    font-weight: bold; }
  .main_about_text {
    width: 100%;
    font-size: 1.6rem;
    color: #444444;
    margin-top: 1.5rem; }
  .main_about_services {
    width: 100%;
    height: auto;
    padding-top: 3rem; }
    .main_about_services ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 11rem;
      width: 100%; }
    .main_about_services li {
      font-size: 1.6rem;
      line-height: 3.5rem;
      vertical-align: baseline;
      font-weight: bold;
      color: #444444;
      margin-right: 1rem; }
      .main_about_services li img {
        display: inline-block;
        height: 2rem;
        width: auto;
        margin-right: 0.5rem; }
  .main_about_btn {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 60px;
    line-height: 56px;
    background-color: white;
    border: 2px solid #e56744;
    border-radius: 10px;
    font-size: 1.8rem;
    text-align: center;
    color: #444444;
    box-sizing: border-box;
    margin: 4rem auto 0;
    text-decoration: none;
    transition: all 350ms;
    text-transform: uppercase; }
    .main_about_btn:hover {
      background-color: #e56744;
      text-decoration: none;
      color: white;
      transform: scale(1.05); }
      .main_about_btn:hover p {
        color: white;
        text-transform: uppercase; }

.main_popular {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 10rem 3rem 2rem 3rem; }
  .main_popular_header {
    font-size: 3.6rem;
    font-weight: bold;
    width: 100%;
    color: #e56744; }
  .main_popular_camin {
    font-size: 2.8rem;
    color: #444444;
    width: calc(50% - 1.5rem);
    float: left;
    margin-top: 1.5rem;
    position: relative;
    display: inline-block; }
    .main_popular_camin span {
      display: inline-block;
      position: relative; }
      .main_popular_camin span:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #e56744;
        bottom: 0; }
  .main_popular_banya {
    font-size: 2.8rem;
    color: #444444;
    width: calc(50% - 1.5rem);
    float: right;
    margin-top: 1.5rem;
    position: relative;
    display: inline-block; }
    .main_popular_banya span {
      display: inline-block;
      position: relative; }
      .main_popular_banya span:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #e56744;
        bottom: 0; }
  .main_popular_wrapper {
    display: flex;
    width: 100%;
    padding-top: 3rem;
    flex-direction: row;
    justify-content: space-between; }
  .main_popular_column {
    width: calc(50% - 1.5rem); }
  .main_popular_viewer {
    width: 100%;
    position: relative;
    overflow: visible;
    padding-bottom: 8rem; }
  .main_popular_category {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
    width: 100%;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05); }
    .main_popular_category_img {
      width: 100%;
      display: block;
      overflow: hidden; }
      .main_popular_category_img_viewer {
        width: 100%;
        height: auto;
        perspective: 80px; }
        .main_popular_category_img_viewer img {
          width: 100%;
          height: auto;
          transition: all 350ms ease-in-out; }
          .main_popular_category_img_viewer img:hover {
            transform: rotateY(1deg);
            transition: all 350ms ease-in-out; }
        .main_popular_category_img_viewer .rotate_img {
          transform: rotateY(180deg);
          transition: all 350ms ease-in-out; }
          .main_popular_category_img_viewer .rotate_img:hover {
            transform: rotateY(181deg);
            transition: all 350ms ease-in-out; }
    .main_popular_category_content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 3rem; }
    .main_popular_category_header {
      font-size: 2.4rem;
      color: #444444; }
    .main_popular_category_text {
      font-size: 1.8rem;
      line-height: 2rem;
      vertical-align: baseline;
      color: rgba(0, 0, 0, 0.5);
      font-weight: 300;
      padding-right: 1rem; }
      .main_popular_category_text ul {
        padding: 2rem 0; }
      .main_popular_category_text ul li {
        font-size: 1.6rem;
        line-height: 2rem;
        vertical-align: middle;
        font-weight: normal;
        color: #444444;
        padding-left: 2.5rem;
        position: relative;
        padding-bottom: 1rem; }
        .main_popular_category_text ul li:before {
          content: "";
          display: inline-block;
          background-color: #e56744;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 1.5rem;
          position: absolute;
          top: 0.3rem;
          left: 0; }
    .main_popular_category_btn {
      background-color: #e56744;
      color: white;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 300;
      border-radius: 10px;
      width: 25rem;
      transition: transform 350ms ease-in-out, font-weight 150ms ease-in-out; }
      .main_popular_category_btn:hover {
        transform: scale(1.03);
        font-weight: normal;
        text-decoration: none;
        color: white; }
  .main_popular_slider {
    background-color: #FAFAFA;
    width: 90%;
    position: absolute;
    top: 80%;
    border-radius: 10px;
    left: 5%;
    overflow: hidden;
    z-index: 2;
    padding: 3rem 5rem; }
    .main_popular_slider_viewer {
      width: auto;
      height: auto;
      overflow: hidden; }
      .main_popular_slider_viewer .slick-category {
        position: absolute;
        top: 50%;
        background-color: transparent;
        border: none;
        transition: transform 200ms ease-in-out; }
        .main_popular_slider_viewer .slick-category:focus {
          outline: none; }
        .main_popular_slider_viewer .slick-category:hover {
          transform: scale(1.2); }
      .main_popular_slider_viewer .slick-prev {
        left: 1.5rem; }
      .main_popular_slider_viewer .slick-next {
        right: 1.5rem; }
  .main_popular_slide {
    display: inline-block;
    width: 10rem; }
    .main_popular_slide_img {
      width: 100%; }
      .main_popular_slide_img img {
        width: 100%;
        transition: transform 350ms ease-in-out; }
    .main_popular_slide:hover img {
      transform: scale(1.3); }
    .main_popular_slide_header {
      width: 100%;
      text-align: center;
      font-size: 1.4rem;
      color: black; }

.main_wrapper {
  width: 100%;
  height: auto;
  display: block; }

.page_wrapper {
  width: 80%;
  margin-left: 20%;
  height: auto;
  display: block; }

.aside {
  width: 20%; }

/*# sourceMappingURL=style.css.map */
